{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Cliente</title>
    <link rel="stylesheet" href="{% static 'css/principales/vistas_usuarios.css' %}">
</head>
<body>

    <div class="dashboard-container">
        <h1 class="titulo-dashboard">Bienvenido Cliente: {{ usuario }}</h1>
        <p class="descripcion-dashboard">Desde aquí podrás crear y consultar tus PQRS.</p>

        <div class="button-container">
            <a href="{% url 'inicio' %}" class="btn btn-primary">Crear PQRS</a>
            <a href="{% url 'listar_pqrs' %}" class="btn btn-primary">Ver mis PQRS</a>
            <a href="{% url 'cerrar_sesion' %}" class="btn btn-secondary">Cerrar sesión</a>
        </div>
    </div>

</body>
</html>
